body {
    background-color: #f8f9fa;
}

.navbar {
    z-index: 1; /* 네비게이션 바를 다른 요소들 위로 올립니다 */
}

.sidebar {
    position: fixed;
    top: 56px; /* 네비게이션 바의 높이만큼 아래에서 시작 (56px은 기본 네비게이션 바 높이입니다) */
    left: 0;
    width: 10%; /* 사이드바 너비를 화면의 10%로 설정 */
    height: calc(100% - 56px); /* 전체 높이에서 네비게이션 바 높이를 뺀 높이 */
    background-color: #f8f9fa; /* 배경색 */
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    padding-top: 20px; /* 상단 패딩 */
}

.sidebar .nav {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    padding-left: 0;
    width: 100%; /* nav의 너비를 사이드바의 너비에 맞춤 */
}

.sidebar .nav-item {
    padding: 10px 0; /* nav-item에 좌우 패딩 제거 */
    text-align: left; /* 텍스트를 왼쪽 정렬 */
}

.sidebar .nav-link {
    display: flex; /* 아이콘과 텍스트를 한 줄에 표시하기 위해 flex 사용 */
    align-items: center; /* 아이콘과 텍스트를 수직으로 가운데 정렬 */
    color: #333;
    padding: 0 15px; /* 텍스트 주변에 약간의 패딩 추가 */
    white-space: nowrap; /* 텍스트가 한 줄에 있도록 설정 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트 생략 표시 */
}

.sidebar .nav-link i {
    margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 조정 */
}

.sidebar .nav-link.active {
    font-weight: bold;
    color: #007bff;
}

.sidebar .nav-link:hover {
    background-color: transparent; /* a 태그는 배경색을 없앱니다 */
    color: #007bff; /* 마우스 오버 시 텍스트 색상만 변경 */
}

.sidebar .nav-item:hover {
    background-color: #e9ecef; /* li 태그에 마우스 오버 시 배경색 */
}

.form-control.rounded-pill {
    border-radius: 50px; /* 타원형 입력 필드 */
    padding-right: 2.5rem; /* 오른쪽 패딩 추가 */
}

.btn.rounded-pill {
    border-radius: 50px; /* 타원형 버튼 */
}

.dropdown-menu {
    border-radius: 20px; /* 드롭다운 메뉴를 타원형 박스로 설정 */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* 드롭다운 메뉴에 그림자 추가 */
}

.dropdown-item {
    display: flex; /* 아이콘과 텍스트를 한 줄에 표시하기 위해 flex 사용 */
    align-items: center; /* 아이콘과 텍스트를 수직으로 가운데 정렬 */
}

.dropdown-item i {
    margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 조정 */
}

.upload-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 15px; /* Optional: Add some spacing between buttons */
}

.upload-text {
    margin-right: 10px;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: #5c67f2;
    color: white;
    cursor: pointer;
}

.upload-button i {
    font-size: 16px;
}

.nav-link i {
    font-size: 18px; /* Increase the icon size */
    color: #343a40; /* Make the icon color darker */
}

.nav-link i:hover {
    color: #000; /* Change the icon color on hover */
}

/* 추가된 CSS */
.center-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13px; /* 아이콘 간의 간격을 추가 */
}

.notification-icon {
    margin-right: 10px; /* 알림 아이콘을 우측에서 더 띄우기 */
}

.profile-pic {
	    width: 100px; /* 이미지의 너비 */
	    height: 100px; /* 이미지의 높이 */
	    border-radius: 50%; /* 원형 모양 */
	    object-fit: cover; /* 이미지 비율 유지 */
}
.sub-section1 { height: 55px; }
.sub-section2 { height: 55px; }
.sub-section3 { height: 55px; }

.section {
        margin-top: 10px; /* 간격을 조절하려면 이 값을 변경하세요 */
        height: 100px; /* 각 섹션의 높이 */
}

.btn-custom {
	    background-color: #4CAF50; /* Green */
	    border: none;
	    color: white;
	    padding: 10px 24px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin: 4px 2px;
	    cursor: pointer;
	    border-radius: 12px; /* Rounded corners */
}

.modal-header, .modal-footer {
    border-bottom: 0;
    border-top: 1px solid #dee2e6;
}
.modal-footer {
    border-bottom: 1px solid #dee2e6;
    justify-content: space-between;
}
/* 모달 내의 모든 텍스트의 기본 폰트 크기를 줄임 */
.modal-content {
    font-size: 12px; /* 기본 폰트 크기를 14px로 설정 */
}

/* 특정 요소에 대해 폰트 크기를 더 세밀하게 조정 */
.modal-title, .form-label, .btn {
    font-size: 14px; /* 타이틀, 라벨, 버튼의 폰트 크기를 16px로 설정 */
}

/* 입력 필드와 텍스트 영역의 폰트 크기 설정 */
.input-group-text, .form-control {
    font-size: 12px; /* 입력 필드의 폰트 크기를 15px로 설정 */
}

.edit-profile {
        background-color: #EFEFEF; /* 회색 배경 */
        color: #000000; /* 검정 글씨 */
        padding: 2px 1px; /* 버튼 크기 조정 */
        border: none; /* 테두리 제거 */
        font-size: 12px; /* 글자 크기 조정 */
        border-radius: 4px; /* 약간 둥근 모서리 */
        font-weight: bold; /* 텍스트 굵게 */
}

.edit-profile:hover {
        background-color: #aaaaaa; /* 호버 시 더 진한 회색 */
}