<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">  찹쌀떡</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-auto" role="search" style="width: 35%; margin-left: 20%;">
                <input class="form-control rounded-pill me-2" type="search" placeholder="검색" aria-label="Search">
                <button class="btn btn-outline-success rounded-pill" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div class="upload-container">
                        <span class="upload-text">업로드</span>
                        <button class="upload-button">
                            <i class="bi bi-plus"></i>
                        </button>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link center-icon" href="#"><i class="bi bi-envelope-open"></i></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link center-icon notification-icon" href="#"><i class="bi bi-bell"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
