<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <!-- Bootstrap Icons CSS 추가 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<body>
    <nav th:replace="~{navbar :: navbarFragment}"></nav>
    <nav th:replace="~{sidebar :: sidebarFragment}"></nav>
    
    <div layout:fragment="content" class="content" style="margin-left: 10%; padding: 20px;">
        <!-- 메인 콘텐츠가 들어갈 부분 -->
    </div>

	<div th:replace="~{navbar :: uploadModalFragment}"></div>
	
    <!-- Popper.js 추가 (integrity 속성 제거) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js" crossorigin="anonymous"></script>
    <!-- Bootstrap JS 추가 -->
    <script th:src="@{/bootstrap.min.js}"></script>
	<div th:replace="~{navbar :: uploadModalScript}"></div>
</body>
</html>
